<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.role.mapper.RoleMapper">

    <resultMap id="roleMap" type="com.baidu.role.domain.Role">
        <id property="id" column="id"/>
        <result property="create_id" column="create_id"/>
        <result property="create_time" column="create_time"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="update_id" column="update_id"/>
        <result property="update_time" column="update_time"/>

        <association property="user" column="id" javaType="com.baidu.user.domain.User">
            <id property="id" column="id"/>
            <result property="realname" column="realname"/>
        </association>


    </resultMap>
    <insert id="save"
            parameterType="com.baidu.role.domain.Role">
        INSERT INTO sys_role(name,status,sort,remark,create_time,create_id,update_time) VALUES (#{name},#{status},#{sort},#{remark},#{create_time},#{create_id},#{update_time})
    </insert>


    <select id="findAll" resultMap="roleMap">

        SELECT sys_role.*,
        sys_user.id,
        sys_user.realname
        FROM sys_role LEFT JOIN sys_user ON sys_role.create_id=sys_user.id

    </select>

    <select id="findAllGJ" resultMap="roleMap" parameterType="com.baidu.role.domain.Role">
        SELECT sys_role.*,
        sys_user.id,
        sys_user.realname
        FROM sys_role LEFT JOIN sys_user ON sys_role.create_id=sys_user.id
        WHERE name LIKE CONCAT('%',#{name},'%')
    </select>
    <select id="findRoleById"
            parameterType="int"
            resultType="com.baidu.role.domain.Role">
        SELECT * FROM sys_role WHERE id = #{value}
    </select>
    <select id="findMaxSort"
            resultType="int">
        SELECT max(sort) FROM sys_role

    </select>


    <delete id="deleteByRoleId" parameterType="java.lang.Integer">
        DELETE  FROM sys_role WHERE id =#{id}
    </delete>


</mapper>