<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.menu.mapper.MenuMapper">

    <resultMap id="menuMap" type="com.baidu.menu.domain.Menu">
        <id column="id" property="id"/>
        <result column="parentId" property="parentId"/>
        <result column="icon" property="icon"/>
        <result column="name" property="name"/>
        <result column="urlkey" property="urlkey"/>
        <result column="url" property="url"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="sort" property="sort"/>
        <result column="level" property="level"/>
        <result column="createTime" property="createTime"/>
        <result column="create_id" property="create_id"/>
        <result column="update_time" property="update_time"/>
        <result column="update_id" property="update_id"/>
    </resultMap>

    <select id="selectAll" resultType="com.baidu.menu.domain.ext.ExtMenu">
        SELECT
            m.name name,
            m.urlkey urlkey,
            m.parent_id parentId,
            m.type type,
            m.url url,
            m.create_time createTime,
            u.username username,
            m.sort sort,
            m.status status
        FROM sys_user u, sys_menu m WHERE m.create_id=u.id
    </select>


    <select id="findById" parameterType="int" resultType="com.baidu.menu.domain.Menu">
        SELECT * FROM sys_menu WHERE id=#{value}
    </select>

    <select id="findCostAllLimit" parameterType="com.baidu.base.utils.PageBean" resultType="com.baidu.menu.domain.ext.ExtMenu">
         SELECT
            m.name name,
            m.urlkey urlkey,
            m.parentId parentId,
            m.type type,
            m.url url,
            m.createTime createTime,
            u.username username,
            m.sort sort,
            m.status status
        FROM sys_user u, sys_menu m WHERE m.create_id=u.id LIMIT #{start},#{pageSize}
    </select>

    <select id="findParent" resultType="com.baidu.menu.domain.Menu">
        SELECT parent_id,name,id FROM sys_menu
    </select>
</mapper>