<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.base.mapper.MainMapper">

    <resultMap id="userMap" type="com.baidu.user.domain.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="realname" property="realname"/>
        <result column="role_id" property="role_id"/>
        <result column="usertype" property="usertype"/>
        <result column="state" property="state"/>
        <result column="third_id" property="third_id"/>
        <result column="end_time" property="end_time"/>
        <result column="email" property="email"/>
        <result column="tel" property="tel"/>
        <result column="address" property="address"/>
        <result column="title_url" property="title_url"/>
        <result column="remark" property="remark"/>
        <result column="theme" property="theme"/>
        <result column="back_site_id" property="back_site_id"/>
        <result column="create_site_id" property="create_site_id"/>
        <result column="create_time" property="create_time"/>
        <result column="create_id" property="create_id"/>
    </resultMap>
    <resultMap id="ExpResultMap" type="com.baidu.user.domain.User" extends="userMap">
        <collection property="roles" ofType="com.baidu.role.domain.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
        </collection>
    </resultMap>

    <select id="findByUsername"
            parameterType="java.lang.String"
            resultMap="ExpResultMap">
        SELECT
        u.id,
        u.username,
        u.state,
        u.tel,
        u.email,
        u.create_time,
        r.id rid,
        r.name rname

        FROM sys_user u
        LEFT JOIN sys_role_user ru
        ON u.id = ru.userId
        LEFT JOIN sys_role r
        ON ru.roleId = r.id
        WHERE username = #{value}
    </select>

    <select id="findSingle"
            parameterType="com.baidu.user.domain.User"
            resultType="com.baidu.user.domain.User">
        SELECT * FROM sys_user WHERE username = #{username} AND password = #{password}
    </select>

    <update id="updatePassword"
            parameterType="com.baidu.user.domain.User">
        UPDATE sys_user SET password=#{password} WHERE username=#{username}
    </update>

    <select id="findIP" resultType="com.baidu.base.domain.IPAddress">
        SELECT * FROM sys_ip
    </select>

    <insert id="save" parameterType="com.baidu.base.domain.IPAddress">
        INSERT INTO sys_ip VALUES (#{id},#{ip},#{count},#{loginTime})
    </insert>
</mapper>