<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.base.mapper.MainMapper">

    <select id="findByUsername"
            parameterType="java.lang.String"
            resultType="com.baidu.user.domain.User">
        SELECT * FROM sys_user WHERE username = #{value}
    </select>

    <select id="findSingle"
            parameterType="com.baidu.user.domain.User"
            resultType="com.baidu.user.domain.User">
        SELECT * FROM sys_user WHERE username = #{username} AND password = #{password}
    </select>

    <update id="updatePassword"
            parameterType="com.baidu.user.domain.User">
        UPDATE sys_user SET password=#{password} WHERE username=#{username}
    </update>

    <select id="findIP" resultType="com.baidu.base.domain.IPAddress">
        SELECT * FROM sys_ip
    </select>

    <insert id="save" parameterType="com.baidu.base.domain.IPAddress">
        INSERT INTO sys_ip VALUES (#{id},#{ip},#{count},#{loginTime})
    </insert>
</mapper>